[submodule "docker_open5gs"]
	path = docker_open5gs
	url = https://github.com/herlesupreeth/docker_open5gs.git
[submodule "lain_interface"]
	path = lain_interface
	url = https://github.com/guallycanazas/LainStack.git
